{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Post inbox!</h1>
<div class="button-table">
    <div class="input-row">
     <div class="input-group">
        <a class="button" href="physicalposts">Physical Concern Posts</a>
      </div>
        <div class="input-group">
          <a class="button" href="diversityposts">Diversity Suggestion Posts</a>
        </div>
      </div>
    <div class="input-row">
     <div class="input-group">
        <a class="button" href="mentalposts">Mental Concern Posts</a>
      </div>
        <div class="input-group">
          <a class="button" href="resourceposts">Resource Submission Posts</a>
        </div>
      </div>
    <div class="input-row">
     <div class="input-group">
         <a class="button" href="hazardposts">Hazard Report Posts</a>
      </div>
        <div class="input-group">
          <a class="button" href="miscposts">Misc Form Posts</a>
        </div>
      </div>

</div>
</div>
<style>
      .button {
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: #FF5683;
        border-radius: 6px;
        outline: none;
        width: 250px;
      }

}

.container{
    width: 50%;
    margin: auto;
    left: 50%;
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-content: center;
}
h1{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 48px;
    font-weight: bolder;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
}

.button-table {
    padding: 70px 300px;
}
    </style>
{% endblock %}